* {
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova';
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

body {
    line-height: 1.5;
}

header a {
    font-size: 10px !important;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.12em;
    padding-bottom: 12px;
    color: #231F20;
    display: block;
}

header .separator {
    border-right: 1px solid #EDEDED !important;
    width: 1px;
    display: inline-block;
}

header a {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.12em;
    padding-bottom: 12px;
    color: #231F20;
    display: block;
}

header .active a {
    color: #231F20;
    text-decoration: none;
    line-height: 16px;

}

header ul .list-inline {
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
    margin-left: 10px;
}

header .col-12 {
    padding: 16px 0 0 0;
    letter-spacing: 0.12em;
}

header ul {
    margin: 0;
    margin-left: 35px;
    margin-right: 35px;
    text-transform: uppercase;
    padding: 0;
}

header li.active {
    border-bottom: 2px solid #FAA61A;
}

header li {
    display: inline-block;
    margin-left: 10px;
}

header ul .list-inline a {
    color: #5F6369;
    text-decoration: none;
    line-height: 16px;
}

header .row {
    flex-wrap: wrap;
    display: flex;
    height: 35px;
}

header .search li {
    position: relative;
    cursor: pointer;
}

header .search {
    margin: 0;
    margin-left: 35px;
    margin-right: 35px;
    text-transform: uppercase;
    padding-left: 0;
    text-align: center;
}

header .search img {
    width: 16px;
    margin-right: 5px;
}

header .top-menu {
    color: #5F6369;
}

header .top-menu .list-inline-item img {
    width: 16px;
    margin-right: 5px;
}

header .navbar-brand img {
    margin-top: 22px;
    vertical-align: middle;
    border-style: none;
}

header .navbar-brand {
    display: inline-block;
    padding: 0;
    margin-right: 0;
}

header .navbar_menu {
    margin-left: 24px;
    margin-right: auto;
}

header .navbar_menu ul {
    display: flex;
    flex-direction: row;
    margin-top: -30px;
    padding-left: 0;
    margin-left: 130px;
    list-style: none;
}

header .navbar_menu li {
    margin-left: 20px;
}

header .navbar_menu li a {
    padding: 0;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #231F20;
    font-size: 12px !important;
}

header .nav_menu_right {
    margin-left: 100px;
}

header .nav_menu_right ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    float: right;
    margin-top: -30px;
    margin-bottom: 0;
    list-style: none;
}

header .nav_menu_right ul li {
    max-width: 160px;
    display: inline-block;
}

header .nav_menu_right ul li a {
    padding: 0;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.06em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .personal a {
    padding: 15px 15px !important;
    border: 0;
    border-radius: 8px;
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    background: #FAA61A;
}

header .second_top_menu {
    border-bottom: 1px solid #EDEDED;
    padding: 5px;
}

#slider {
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 150px;
}

#slider .slide-text-col {
    height: 100%;
}

#slider .slide-text-col h6 {
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #5F6369;
    border: 1px solid #D7D8D6;
    padding: 8px 9px;
    display: inline-block;
    opacity: 0;
}

#slider .slide-text-col h1 {
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 0.06em;
    font-size: 38px;
    color: #231F20;
    margin-bottom: 20px;
}

#slider .slide-text-col p {
    color: #5F6369;
    letter-spacing: 0.06em;
    font-weight: normal;
    font-style: normal;
}
#slider .slide-text-col a{
    margin-top: 34px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 16px 30px;
    border-radius: 8px;
    display: inline-block;
    transition: background 0.2s;
    background-color: #F9C20A;
    border: 0;
    color: #231F20;
}
#slider .slide-img-col{
    height: 100%;
}
#slider .slide-img-col img{
width: 400px;
height: 450px;

}