* {
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova';
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none;
}

body {
    line-height: 1.5;
}

header a {
    font-size: 10px !important;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.12em;
    padding-bottom: 12px;
    color: #231F20;
    display: block;
}

header .separator {
    border-right: 1px solid #EDEDED !important;
    width: 1px;
    display: inline-block;
}

header a {
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.12em;
    padding-bottom: 12px;
    color: #231F20;
    display: block;
}

header .active a {
    color: #231F20;
    text-decoration: none;
    line-height: 16px;

}

header ul .list-inline {
    font-size: 12px;
    margin: 0;
    text-transform: uppercase;
    margin-left: 10px;
}

header .col-12 {
    padding: 16px 0 0 0;
    letter-spacing: 0.12em;
}

header ul {
    margin: 0;
    margin-left: 35px;
    margin-right: 35px;
    text-transform: uppercase;
    padding: 0;
}

header li.active {
    border-bottom: 2px solid #FAA61A;
}

header li {
    display: inline-block;
    margin-left: 10px;
}

header ul .list-inline a {
    color: #5F6369;
    text-decoration: none;
    line-height: 16px;
}

header .row {
    flex-wrap: wrap;
    display: flex;
    height: 35px;
}

header .search li {
    position: relative;
    cursor: pointer;
}

header .search {
    margin: 0;
    margin-left: 35px;
    margin-right: 35px;
    text-transform: uppercase;
    padding-left: 0;
    text-align: center;
}

header .search img {
    width: 16px;
    margin-right: 5px;
}

header .top-menu {
    color: #5F6369;
}

header .top-menu .list-inline-item img {
    width: 16px;
    margin-right: 5px;
}

header .navbar-brand img {
    margin-top: 22px;
    vertical-align: middle;
    border-style: none;
}

header .navbar-brand {
    display: inline-block;
    padding: 0;
    margin-right: 0;
}

header .navbar_menu {
    margin-left: 24px;
    margin-right: auto;
}

header .navbar_menu ul {
    display: flex;
    flex-direction: row;
    margin-top: -30px;
    padding-left: 0;
    margin-left: 130px;
    list-style: none;
}

header .navbar_menu li {
    margin-left: 20px;
}

header .navbar_menu li a {
    padding: 0;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #231F20;
    font-size: 12px !important;
}

header .nav_menu_right {
    margin-left: 100px;
}

header .nav_menu_right ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    float: right;
    margin-top: -30px;
    margin-bottom: 0;
    list-style: none;
}

header .nav_menu_right ul li {
    max-width: 160px;
    display: inline-block;
}

header .nav_menu_right ul li a {
    padding: 0;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.06em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .personal a {
    padding: 15px 15px !important;
    border: 0;
    border-radius: 8px;
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    background: #FAA61A;
}

header .second_top_menu {
    border-bottom: 1px solid #EDEDED;
    padding: 5px;
}

#slider {
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 150px;
}

#slider .slide-text-col {
    height: 100%;
}

#slider .slide-text-col h6 {
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #5F6369;
    border: 1px solid #D7D8D6;
    padding: 8px 9px;
    display: inline-block;
    opacity: 0;
}

#slider .slide-text-col h1 {
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 0.06em;
    font-size: 38px;
    color: #231F20;
    margin-bottom: 20px;
}

#slider .slide-text-col p {
    color: #5F6369;
    letter-spacing: 0.06em;
    font-weight: normal;
    font-style: normal;
}

#slider .slide-text-col a {
    margin-top: 34px;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 16px 30px;
    border-radius: 8px;
    display: inline-block;
    transition: background 0.2s;
    background-color: #F9C20A;
    border: 0;
    color: #231F20;
}

#slider .slide-text-col a:hover {
    background: #FAA61A;
    color: #231F20;
}

#slider .slide-img-col {
    height: 100%;
    margin-top: -90px;
}

#slider .slide-img-col img {
    width: 450px;
    height: 400px;

}

#interesting {
    background-color: #F5F5F5;
}

#interesting .tab {
    overflow: hidden;
    border-bottom: 1px solid #D7D8D6;
    padding-top: 28px;
}

#interesting button .active {
    color: #231F20 !important;
    border-bottom: 1px solid #5F6369;
}

#interesting button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0px;
    transition: 0.3s;
    color: #5F6369;
    margin-right: 48px;
    letter-spacing: 0.06em;
    font-size: 18px;
}

#interesting button:hover {
    color: #231F20;
    cursor: pointer;
}

#interesting .tab-interesting {
    padding: 41px 0px;
    border-top: none;
    margin-left: -22px;
    margin-right: -22px;
}

#interesting .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

#interesting .card {
    min-height: 400px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    border-radius: 8px;
    border: none;
    background: #FFF;
}

#interesting .card-img {
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 180px;
    background: transparent;
    display: block;
    text-align: center;
}

#interesting .card-img img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}

#interesting .card-content {
    padding: 0 20px 32px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#interesting .card-title {
    line-height: 16px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #5F6369;
    padding: 6px 12px;
    font-size: 10px;
    border: 1px solid #D7D8D6;
    border-radius: 4px;
    display: inline-block;
}

#interesting .card-content h3 {
    line-height: 120%;
    margin-top: 20px;
    font-size: 22px;
    letter-spacing: 0.06em;
}

#interesting .card-content h5 {
    letter-spacing: 0.06em;
    color: #5F6369;
    font-size: 16px;
    line-height: 130%;
    margin-top: 16px;
}

#interesting .card-content .btn {
    margin-top: 18px;
    background: #F5F5F5;
    width: 100%;
    border-radius: 8px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    display: inline-block;
    transition: background 0.2s;
    border: 0;
    color: #231F20;
}

#interesting .btn:hover {
    background: #FAA61A;
    color: #231F20;
}

#news .tab {
    overflow: hidden;
    border-bottom: 1px solid #D7D8D6;
    padding-top: 28px;
}

#news button .active {
    color: #231F20 !important;
    border-bottom: 1px solid #5F6369;
}

#news button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 0px;
    transition: 0.3s;
    color: #5F6369;
    margin-right: 48px;
    letter-spacing: 0.06em;
    font-size: 18px;
}

#news button:hover {
    color: #231F20;
    cursor: pointer;
}

#news .calculator {
    padding: 41px 0px;
}

#news .calculator h4 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.06em;
}

#news .calculator-container {
    background: #FFFFFF;
    box-shadow: 0px 16px 56px rgba(0, 0, 0, 0.16);
    border-radius: 16px;
    padding: 60px 80px;
    margin-top: 24px;
    margin-bottom: 24px;
}

#news .input-container h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #231F20;
    margin-bottom: 45px;
}

#news .form-element {
    margin-bottom: 25px;
    display: block;
    width: 100%;
    position: relative;
}

#news .group_label {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #5F6369;
    position: absolute;
    left: 35px;
    top: 10px;
}

#news .range-slider {
    display: inline-block;
    padding: 0 10px !important;
    height: 20px !important;
    width: 100% !important;
    position: absolute !important;
    bottom: -8px !important;
}

#news .range-slider-inner {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
}

#news .range-slider-hidden {
    background: #FFFFFF;
    border: 1px solid #D7D8D6;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    height: 75px;
    padding-left: 34px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding-left: 24px;
    display: none;
    padding-right: 24px;
}

.range-slider-rail {
    width: 100%;
    background-color: #e2e2e2;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    border-radius: 2px;
    transform: translateY(-50%);
}

.range-slider-fill {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    border-radius: 2px;
    transform: translateY(-50%);
    width: 0%;
    background-color: #faa61a !important;
}

.range-slider-knob {
    display: block;
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 1px rgba(0, 0, 0, .2);
    transform: translate(-50%, -50%);
    background: #fefefe;
    left: 0%;
    cursor: pointer;
}

.group_param {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8px;
    padding: 0;
    margin: 0;
}

.group_param li.active_param {
    color: #231F20;
    border-bottom: 1px solid #FAA61A;
    list-style-type: none;
    float: left;
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
    letter-spacing: 0.03em;
    cursor: pointer;
}

.form-element input {
    background: #FFFFFF;
    border: 1px solid #D7D8D6;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    height: 75px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding-left: 24px;
    padding-right: 24px;
}

.form-element {
    width: 25%;
}

.form-element select {
    padding-left: 29px;
    background: #FFFFFF;
    border: 1px solid #D7D8D6;
    box-sizing: border-box;
    border-radius: 8px;
    height: 75px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.03em;
    padding-right: 24px;
}

.form-element option {
    font-weight: normal;
    display: block;
    white-space-collapse: collapse;
    text-wrap: nowrap;
    min-height: 1.2em;
}

.group_label {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #5F6369;
    position: absolute;
    left: 35px;
    top: 10px;
}

.form-element select:not(:-internal-list-box) {
    overflow: visible !important;
}

.form-element select {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    white-space-collapse: preserve;
    text-wrap: nowrap;
    -webkit-rtl-ordering: logical;
    cursor: default;

}

#news .calculator-container .col-5 {
    border-right: 1px solid #D7D8D6;
    padding-right: 80px
}

#news .calculator-container .col-7 {
    padding: 0 0 0 80px;
}

#news .calculator-container .col-7 h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #231F20;
    margin-bottom: 45px;
}

#news .calculator-container .col-7 div {
    display: table;
    text-align: left;
}
#news .calculator-container .col-7 div .price{
    font-size: 32px !important;
    letter-spacing: 0.06em;
    color: #231F20;
    display: table-cell;
    margin-right: 60px;
    vertical-align: middle;
    float: left;
}
#news .calculator-container .col-7 div p{
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.06em;
    color: #5F6369;
    display: block;
}
#news .calculator-container .col-7 div .price-two{
    margin-right: 0;
    font-weight: normal;
    font-size: 24px;
    padding-top: 4px;
}
#news .calculator-container .col-7 a{
    margin-top: 60px !important;
    width: 100%;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #231F20;
    margin: 0;
    padding: 16px 30px;
    transition: background 0.2s;
    background: #F9C20A;
    border-radius: 8px;
    border: 0;
}
#news .calculator-container .col-7 a:hover{
    background: #FAA61A;
    color: #231F20;
}